<form [formGroup]="formGroup">
  <nb-card class="col-12 col-md-6 col-xl-4">
    <nb-card-header>
      <nb-icon icon="chevron-left-outline" pack="eva" routerLink="/auth/login"></nb-icon>
      <h2>Recuperação de senha</h2>
    </nb-card-header>

    <nb-card-body>
      <ng-container *ngIf="currentStep === stepsEnum.EMAIL">
        <label for="email">Digite seu email: </label>
        <nb-form-field class="mt-3">
          <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
          <input id="email" type="text" nbInput fullWidth placeholder="Email" formControlName="email">
        </nb-form-field>

        <button nbButton
                (click)="sendCodeToEmail()"
                [nbSpinner]="isLoading"
                [disabled]="formGroup.controls.email.invalid || isLoading"
                fullWidth
                status="primary"
                class="mt-4">
          Enviar
        </button>
      </ng-container>

      <ng-container *ngIf="currentStep === stepsEnum.NEW_PASSWORD">
        <div class="ease-fade-animation">
          <p>Um código de recuperação foi enviado ao seu e-mail. Por favor, verifique sua caixa de entrada e preencha os campos abaixo.</p>

          <label for="newPassword">Digite e confirme sua nova senha: </label>

          <nb-form-field class="mt-3">
            <nb-icon nbPrefix icon="radio-outline" pack="eva">
            </nb-icon>
            <input type="text" nbInput fullWidth placeholder="Código recebido" formControlName="code">
          </nb-form-field>

          <nb-form-field class="mt-3">
            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
            <input id="newPassword" type="password" nbInput fullWidth placeholder="Nova senha" formControlName="newPassword">
          </nb-form-field>

          <nb-form-field class="mt-3">
            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
            <input type="password" nbInput fullWidth placeholder="Confirmação da senha" formControlName="confirmPassword">
          </nb-form-field>

          <button nbButton
                  (click)="resetPassword()"
                  [nbSpinner]="isLoading"
                  [disabled]="formGroup.invalid || isLoading"
                  type="submit"
                  status="primary"
                  fullWidth
                  class="mt-4">
            Alterar senha
          </button>
        </div>
      </ng-container>

    </nb-card-body>
    <nb-card-footer class="d-flex flex-column">
      <img src="assets/imgs/liga_logo.svg" alt="Desenvolvido por LIGA Facens">
    </nb-card-footer>
  </nb-card>
</form>
