:host, form {
  height: 100%;
  width: 100%;

  background-size: cover;
  background-image: url("/assets/imgs/facens.jpg");
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  nb-card {
    max-width: 400px;
    overflow-x: hidden;

    nb-card-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2 {
        font-size: 1.2rem;
      }

      nb-icon {
        position: absolute;
        left: 1rem;

        font-size: 1.5rem;

        cursor: pointer;
      }
    }

    nb-card-body {
      label {
        margin: 0.5rem 0 0 0;
        text-align: end;
        font-weight: 600;
      }
    }
  }
}

